[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime-Text
GenericName=Text Editor
Comment=Sophisticated text editor for code, markup and prose
Exec=AppRun %F
Terminal=false
MimeType=text/plain;
Icon=icon
Categories=TextEditor;Development;
StartupNotify=true
